data/*
mlruns/*
UDOP_20230627/udop-unimodel-large-224/config.json
UDOP_20230627/udop-unimodel-large-224/pytorch_model.bin
UDOP_20230627/udop-unimodel-large-224/special_tokens_map.json
UDOP_20230627/udop-unimodel-large-224/spiece.model
UDOP_20230627/udop-unimodel-large-224/tokenizer_config.json
